@charset "utf-8";
/* CSS Document */
body {
  font-family: Arial, Helvetica, sans-serif;
}


img {
  height: 340px;
  width: 440px;
}



footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

#div_1 {
  float: left;
  width: 40%;
  height: 600px;
  background-color: #FF6633;
}

#div_2 {
  float: left;
  width: 60%;
  height: 600px;
  background-color: #FF9933;
}
h1 {
  text-align: center;
}

footer {
  background-color: #993300;
  color: white;
  font-size: 150%;
  text-align: right;
}
table, td {
  margin: 30px;
  padding: 18px;
        border-style: solid;
  border-width: 2px;
  border-color: brown;
  border-collapse: collapse;
}
